.TileCard-page {
  text-align: center;
  min-height: 80vh;
}

.div-TileCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

/* @media screen and (min-width: 1200px) {
  .TileCard-page {
    background-position: 0 35%;
  }

  .Product-page .items {
    justify-content: flex-start;
    min-height: auto;
  }

  .homeTitle {
    font-size: 20vh;
    text-align: right;
  }

  .job {
    font-size: 3.5vh;
    font-weight: 300;
  }

  .Home .title-container {
    padding: 5vw;
    padding-top: 5vh;
  }

  .Product-page .items .div-servicecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
} */
