@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Montserrat+Alternates:ital,wght@1,200;1,300&family=Quicksand:wght@500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/*
1. Variables
2. RESET
3. Blocks
4. Inline
5. ID
6. Classes
*/

/* Variables */

:root {
    --body: #fffcffff;
    --secondary: #eeeeee;
    --third: rgb(5, 104, 57);
    --highlight: rgb(140, 198, 63);
    --dark: #4F4D4C;
    --white: #fffcffff;
    --font: 'Roboto', sans-serif;
    --titleFont: 'Quicksand', cursive;
    --subTitleFont: 'Montserrat+Alternates', sans-serif;
    --specialFont: 'Baskervville', serif;
}

/* 2 RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#root,
#__next {
    isolation: isolate;
}

/* 3 Block */
/* 4 inline */
/* 5 ID */
/* 6 Classes */